@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;  
    background-color: #E1EBFD; 
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(107%);
}

.container {
    /* background-color: #E1EBFD; */
    /* border-radius: 2.3125rem; */
    background: #E1EBFD;
    max-width: 430px;
    max-height: 932px;
    height: 100%;
    margin: 0 auto;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: radial-gradient(61.21% 61.21% at 55.1% 53.06%, #82A4FF 0%, #577FFF 76.56%);
    filter: drop-shadow(-8px -8px 8px rgba(255, 255, 255, 0.66)) drop-shadow(8px 4px 8px rgba(0, 0, 0, 0.10));
}

.btn-standard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #DEE7F7 75%, #EDF9FF 100%);
    filter: drop-shadow(-8px -4px 8px rgba(255, 255, 255, 0.46)) drop-shadow(8px 4px 8px rgba(0, 0, 0, 0.10));
    border: none;
}

.btn-standard img {
    display: block;
    margin: auto;
}
    

h6 {
    color: #A4B4CD;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header .wrapper{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

.song-cover {
    border-radius: 50%;
    border: 10px solid #ECF4FF;
    box-shadow: -15px -15px 15px 0px rgba(255, 255, 255, 0.46), 15px 15px 25px 0px #A9B7CF;
    width: 20.25rem;
    height: 20.25rem;
    flex-shrink: 0;
    margin: auto;
}

.song-cover img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.song-title {
    color: #6C7A92;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
}

.song-artist {
    margin-top: 0.5rem;
    color: #A7B3CA;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.song-bar {
    margin: 1.25rem 2rem;
}

.song-bar input {
    width: 100%;
}

.song-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A3B1C6;
    text-align: right;
    font-family: Montserrat;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03125rem;
}

.song-controls, .song-volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.81rem;
}

.song-volume {
    padding: 1.25rem 0;
    justify-content: space-evenly;
}

.song-volume input {
    width: 75%;
}

.song-controls button {
    width: 5.75rem;
    height: 5.75rem;
    flex-shrink: 0;
}

.next img{
    transform: rotateY(180deg);
}



#audioPlayer {
    visibility: hidden;
}

.song-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
}

h3 {
    color: #8693A9;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04375rem;
}

h4 {
    color: #B5C1D3;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04375rem;
    margin-top: 0.4rem;
}

.playlist {
    padding: 2rem;
}

.song-container {
    margin: 0 1rem;
}

.selected {
    border-radius: 1.25rem;
    border: 1px solid #ECF8FF;
    background: linear-gradient(180deg, #CCD9F0 0%, #D7E4F9 100%);
}
.playlist-container .song-cover {
    width: 11.25rem;
    height: 11.25rem;
    margin-bottom: 2rem;
    border-width: 5px;
}

.playlist-container .play {
    width: 3.5rem;
    height: 3.5rem;
}