################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/__oop-2023--it-kn-21/FileContentIndex
